
@font-face {
  font-family: "pt sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "pt sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format('woff2');
  font-display: swap;
}

:root {
  --padding-page: 70px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  line-height: 117%;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.page-main {
  flex-grow: 1;
}

.button {
  display: inline-block;
  padding: 8px 26px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text-wrap {
  max-width: 655px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}

.desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subdesc {
  text-align: center;
}

/* header */
.page-header {
  display: flex;
  padding: 0 var(--padding-page);
  gap: 30px;
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 500px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}

.navigation__controls {
  display: flex;
  width: 150px;
  align-self: flex-start;
  margin: 0 20px 0 0;
  padding: 0;
  list-style: none;
}

.navigation__control {
  width: 44px;
  height: 64px;
}

.navigation__button {
  margin-top: 14px;
  padding-inline: 34px;
  align-self: flex-start;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  color: #000000;
}

.navigation__link_active:before {
  content: "";
  position: absolute;
  left: 16px;
  top: 100%;
  margin-top: -1px;
  width: calc(100% - (16px * 2));
  height: 2px;
  background-color: #756257;
}

.navigation__icon {
  text-decoration: none;
}

.icon_favourites-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
}

.navigation__button {
  text-decoration: none;
  background-color: #756157;
}

/* hero */
.hero {
  padding: 51px 0 82px;
  background-color: #6098c7;
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpg");
  background-size: 100% auto, cover;
  background-position: bottom, center;
  background-repeat: no-repeat;
}

.hero__img {
  display: block;
  margin: 0 auto;
}

/* advantages */
.advantages__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages__item {
  width: 400px;
  min-height: 385px;
  padding: 112px 84px 50px;
  background-color: rgba(131, 179, 211, .12);
}

.advantages__item:nth-child(3) {
  background-color: rgba(131, 179, 211, .2);
}

.advantages__item_img {
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: row;
  background-color: #82b3d3;
}

.advantages__wrap {
  width: 400px;
  padding: 112px 84px 50px;
}

.advantages__item_img .advantages__subtitle,
.advantages__item_img .advantages__subdesc {
  color: #ffffff;
}

.advantages__item_invert {
  flex-direction: row-reverse;
}

.advantages__img {
  flex-grow: 1;
  height: 100%;
  object-fit: cover;
}

/* services */
.services__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, .12);
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  min-height: 385px;
  padding: 81px 85px 80px;
}

/* hotel-search */
.hotel-search {
  text-align: center;
}

.hotel-search__button {
  font-size: 20px;
  line-height: 180%;
  background-color: #756157;
}

/* subscribe */
.subscribe {
  text-align: center;
}

.subscribe_background {
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #6098c7;
}

.subscribe_background .subscribe__title {
  color: #ffffff;
}

.subscribe__input {
  font-family: inherit;
  font-size: inherit;
  line-height: 133%;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.subscribe__input::placeholder {
  font-size: inherit;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__button {
  font-size: 20px;
  line-height: 180%;
  color: #ffffff;
  background-color: #82b3d3;
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 40px var(--padding-page) 30px;
}

.socials {
  flex-basis: 200px;
}

.socials__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.contacts {
  flex-basis: 335px;
}

.contacts__phone {
  color: #000000;
  font-size: 40px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
}

.developer {
  flex-basis: 200px;
  text-align: right;
}

/* filter */
.filter {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6098c7;
}

.breadcrumbs__link {
  color: inherit;
  font-size: 16px;
  line-height: 131%;
  text-decoration: none;
}

.filter__form {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.filter__fieldset {
  width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter__fieldset_type {
  margin-right: 70px;
}

.filter__fieldset_price {
  width: 288px;
}

.filter__fieldset_buttons {
  margin-left: auto;
  width: 191px;
}

.filter__button {
  width: 100%;
}

.filter__fieldset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
}

.filter__subtitle {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.filter__fieldset-item {
  line-height: 128%;
}

.filter__input {
  font-weight: 700;
  line-height: 133%;
  border: none;
  background-color: #f2f2f2;
}

.filter__input-text {
  line-height: 133%;
  text-transform: lowercase;
}

.filter__button {
  background-color: #82b3d3;
}

.filter__button_reset {
  background-color: transparent;
}

/* result */
.result {
  padding: 50px var(--padding-page) 60px;
}

.result__header {
  display: flex;
  align-items: center;
  gap: 70px;
}

.result__title {
  margin-right: auto;
  width: 350px;
  text-align: left;
}

.result__select {
  width: 292px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.filter__view-list {
  display: flex;
  gap: 8px;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__view-link {
  display: block;
  width: 48px;
  height: 48px;
}

.result__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.card__price {
  font-weight: 400;
  text-align: right;
}

.card__more {
  text-decoration: none;
  background-color: #756157;
}

.button_favorites {
  background-color: #82b3d3;
}

.button_in-favorites {
  background-color: #7db54f;
}

.button_rating {
  cursor: initial;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.result__pagination {
  border-top: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  list-style: none;
}

.result__pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-color: #82b3d3;
}

.result__pagination-link_current {
  color: #000000;
  background-color: #f2f2f2;
}

.result__pagination-link_dotted {
  background-color: transparent;
  font-weight: 400;
  font-size: 22px;
  color: #000;
}
